.ms_section_bg {
    background-color: #1ABC9C;
    color: white;

}

.m_avatar {
    width: 200px;
}

.m_image {
    width: 200px;
}

.iconwrapper {
    text-align: center;
    display: inline-block;
}

.iconwrapper::before,
.iconwrapper::after {
    content: '';
    display: inline-block;
    width: 5em;
    height: 4px;
    background: white;
    vertical-align: middle;
    border-radius: 3px;

}

.iconwrapper_b::before,
.iconwrapper_b::after {
    content: '';
    display: inline-block;
    width: 5em;
    height: 4px;
    background: black;
    vertical-align: middle;
    border-radius: 3px;
}

.mf_top {
    background-color: #3A546D;
    color: white;
}

.mf_bot {
    background-color: #2c3e50;
    color: white;
}

.fa-star {
    font-size: 20px;
}

.circle::before {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}